*.o
*.diff
*.out
*.err
autom4te.cache/*
.config.env
Makefile
config.log
config.status
frame/Makefile
frame/config.log
frame/config.status
frame/inc/stamp-h1
frame/inc/system_config.h
frame/src/Makefile
frame/src/dummy
frame/src/libframe.a
frame/src/libframe.so
frame/src/libframe.so.1.0.0
frame/test/Makefile
inc/cplusql_config.h
inc/stamp-h1
src/Makefile
src/cplusql
src/cplusql_grammar.output
src/y.dot
